<div class="container-fluid">
  <div class="content">
    <mdb-navbar #mainNavbarElementId SideClass="navbar navbar-expand-lg navbar-dark mdb-color darken-3">
      <mdb-navbar-brand><a class="navbar-brand" href="/#/">Dutchtoy graffiti</a></mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [ngClass]="{'active':activeNavigationButton === 'Home'}">
            <a href="/#/" class="nav-link waves-light" (click)="hideNavbar(mainNavbarElementId);"
              mdbWavesEffect>Home</a>
          </li>
          <li class="nav-item" [ngClass]="{'active':activeNavigationButton === 'Explore'}">
            <a href="{{exploreHref}}" (click)="changeExploreHref(); hideNavbar(mainNavbarElementId);"
               class="nav-link waves-light" mdbWavesEffect>Explore</a>
          </li>
          <li>
            <div>
              <div ngbDropdown class="nav-item" [ngClass]="{'active':activeNavigationButton === 'SelectTag'}">
                <a ngbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  Select Tag<span class="caret"></span></a>
                <ul ngbDropdownMenu>
                  <li *ngFor="let premiumTag of premiumTags" [ngValue]="premiumTag">
                    <a (click)="filterPics(premiumTag); hideNavbar(mainNavbarElementId);"
                       class="dropdown-item" href="{{getUrlPostfixWhenFilteringTag()}}">{{premiumTag}}</a>
                  </li>
                  <div class="dropdown-divider"></div>
                  <li *ngFor="let tag of tags" [ngValue]="tag">
                    <a (click)="filterPics(tag); hideNavbar(mainNavbarElementId);"
                       class="dropdown-item" href="{{getUrlPostfixWhenFilteringTag()}}">{{tag}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item" [ngClass]="{'active':activeNavigationButton === 'About'}">
            <a href="/#/about" (click)="hideNavbar(mainNavbarElementId);"
               class="nav-link waves-light" mdbWavesEffect>About</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a href="https://instagram.com/dutchtoy" class="nav-link">
              <mdb-icon fab icon="instagram"></mdb-icon>
            </a>
          </li>
        </ul>
      </links>
    </mdb-navbar>

    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-center">{{h1Text}}</h1>
      </div>
    </div>

    <!--<div *ngIf="!mobile" class="eije" [innerHTML]=caption>-->
      <!--&lt;!&ndash;<a href="/#/about">{{caption}}</a>&ndash;&gt;-->
    <!--</div>-->
    <div *ngIf="mobile" class="eije2">
      <a href="/#/about">{{caption}}</a>
    </div>

    <div infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()" class="row" [hidden]="showAbout">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div lightbox-group class="row">
          <div *ngFor="let image of picsToShowInfScroll; let i=index" class="col-lg-4 col-md-6 col-sm-6 col-4">
            <div *ngIf="!mobile" class="d-none d-sm-block margin-picture-large">
              <a href="{{getUrlPostfixWhenClickingImage()}}">
                <img class="centered-image fixed-height-image" [src]="image.medium" lightbox [fullImage]="{path: image.src}"
                     (error)="fixMediumUrl(i)" (click)="fuckyeah(image.caption)"/>
              </a>
              <div class="eije" [hidden]="true">hoi</div>
            </div>
            <div *ngIf="mobile" class="d-block d-sm-none margin-picture-small">
              <a href="{{getUrlPostfixWhenClickingImage()}}">
                <img class="centered-image fixed-height-image-xs" [src]="image.thumb" lightbox [fullImage]="{path: image.src}"
                     (error)="fixThumbUrl(i)" (click)="fuckyeah(image.caption)"/>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>

    <div class="row" id="about" [hidden]="!showAbout">
      <div class="col-2"></div>
      <div class="alert alert-info col-8">
        <p>
          I photograph graffiti in the Netherlands, mainly in the areas of Amsterdam, Utrecht and Zwolle.
          Please drop me a PM on my <a href="https://instagram.com/dutchtoy">instagram</a> if you have any questions or
          requests. Also feel free to contact me
          if you have suggestions on how to improve this website or if you spotted a bug or so.
        </p>
      </div>
      <div class="col-2"></div>
    </div>

    <div id="showMoreButton" class="row" [hidden]="!showManualLoadMoreButton || showAbout">
      <div class="col-sm-12 text-center">
        <button type="button" (click)="manualTriggerOnScroll()" class="btn btn-secondary">More...</button>
      </div>
    </div>

  </div>

  <div class="footer row">
    <div class="col-sm-12 text-center">
      © Dutchtoy 2020
    </div>
  </div>
</div>
