<div class="container-fluid">
  <div class="content">

    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

      <!-- Navbar brand -->
      <mdb-navbar-brand><a class="navbar-brand" href="#">Dutchtoy</a></mdb-navbar-brand>

      <!-- Collapsible content -->
      <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-light" mdbWavesEffect>Latest<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect>Explore</a>
          </li>

          <li class="nav-item dropdown">
            <div>
              <div ngbDropdown>
                <a ngbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  {{dropdownSelectedValue}}<span class="caret"></span></a>
                <ul ngbDropdownMenu>
                  <li *ngFor="let premiumTag of premiumTags" [ngValue]="premiumTag">
                    <a (click)="filterPics(premiumTag)" class="dropdown-item" href="#{{getCorrectUrlPostfix(premiumTag)}}">{{premiumTag}}</a>
                  </li>
                  <div class="dropdown-divider"></div>
                  <li *ngFor="let tag of tags" [ngValue]="tag">
                    <a (click)="filterPics(tag)" class="dropdown-item" href="#{{getCorrectUrlPostfix(tag)}}">{{tag}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

        </ul>
        <!-- Links -->


        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link">
              <mdb-icon fab icon="instagram"></mdb-icon>
            </a>
          </li>
        </ul>

      </links>
      <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->


    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-center">Tag: Manks</h2>
      </div>
    </div>

    <div infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()" class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="row">
          <div *ngFor="let image of picsToShowInfScroll; let i=index" class="col-lg-4 col-md-6 col-sm-6 col-4">
            <div class="d-none d-sm-block margin-picture-large">
              <a href="#{{getCorrectUrlPostfix(tagToFilter)}}">
                <img class="centered-image fixed-height-image" [src]="image.thumb" (click)="open(i)" />
              </a>
            </div>
            <div class="d-block d-sm-none margin-picture-small">
              <a href="#{{getCorrectUrlPostfix(tagToFilter)}}">
                <img class="centered-image fixed-height-image-xs" [src]="image.thumb" (click)="open(i)" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>

    <div class="row" [hidden]="!showManualLoadMoreButton">
      <div class="col-sm-12 text-center">
        <button type="button" (click)="manualTriggerOnScroll()" class="btn btn-secondary">More...</button>
      </div>
    </div>

  </div>

  <div class="footer row">
    <div class="col-sm-12 text-center">
      <mdb-icon fab icon="instagram"></mdb-icon>
    </div>
  </div>
</div>
