.content {
  min-height: calc(100vh - 125px);
  margin-bottom: 25px;
}

.footer {
  margin-bottom: 30px;
}

.margin-picture-large {
  margin-bottom: 25px;
}

.margin-picture-small {
  margin-bottom: 3%;
}

.fixed-height-image {
  object-fit: cover;
  width: 260px;
  height: 260px;
}

.fixed-height-image:hover {
  opacity: 0.73;
}

.fixed-height-image-xs {
  object-fit: cover;
  width: 118px;
  height: 118px;
}

@media (max-width: 767px) {
    .container-fluid {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    body {
      padding:0 !important;
    }

    .col-sm-1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .col-sm-4 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .col-sm-6 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .col-sm-10 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .fixed-height-image {
      width: 100%;
      height: auto;
      border: 1px solid rgb(59, 159, 226);
    }
}

#select-tag-dropdown {
  width: 140px;
}

.centered-image {
    display:block;
    margin:auto;
}

#top-dropdown-menu {
  margin-top: 18px;
  margin-bottom: 30px;
}

h1 {
  font-weight: 200;
  margin-top: 19px;
  margin-bottom: 22px;
  font-size: 30px;
}

#insta-icon {
  font-size:24px;
  color: #333;
}

.dropdown-menu {
  max-height: 320px;
  overflow-y: auto;
}
