<div class="container-fluid">
  <div class="content">
    <mdb-navbar #mainNavbarElementId SideClass="navbar navbar-expand-lg navbar-dark mdb-color darken-3">
      <mdb-navbar-brand><a class="navbar-brand" href="/#/">Dutchtoy graffiti</a></mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [ngClass]="{'active':activeNavigationButton === 'Home'}">
            <a href="/#/" class="nav-link waves-light" (click)="hideNavbar(mainNavbarElementId);"
              mdbWavesEffect>Home</a>
          </li>
          <li class="nav-item" [ngClass]="{'active':activeNavigationButton === 'Explore'}">
            <a href="{{exploreHref}}" (click)="changeExploreHref(); hideNavbar(mainNavbarElementId);"
               class="nav-link waves-light" mdbWavesEffect>Explore</a>
          </li>
          <li>
            <div>
              <div ngbDropdown class="nav-item" [ngClass]="{'active':activeNavigationButton === 'SelectTag'}">
                <a ngbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                  Select Tag<span class="caret"></span></a>
                <ul ngbDropdownMenu>
                  <li *ngFor="let premiumTag of premiumTags" [ngValue]="premiumTag">
                    <a (click)="filterPics(premiumTag); hideNavbar(mainNavbarElementId);"
                       class="dropdown-item" href="{{getUrlPostfixWhenFilteringTag()}}">{{premiumTag}}</a>
                  </li>
                  <div class="dropdown-divider"></div>
                  <li *ngFor="let tag of tags" [ngValue]="tag">
                    <a (click)="filterPics(tag); hideNavbar(mainNavbarElementId);"
                       class="dropdown-item" href="{{getUrlPostfixWhenFilteringTag()}}">{{tag}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="nav-item" [ngClass]="{'active':activeNavigationButton === 'About'}">
            <a href="/#/about" (click)="hideNavbar(mainNavbarElementId);"
               class="nav-link waves-light" mdbWavesEffect>About</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a href="https://instagram.com/dutchtoy" class="nav-link">
              <mdb-icon fab icon="instagram"></mdb-icon>
            </a>
          </li>
        </ul>
      </links>
    </mdb-navbar>

    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-center">{{h1Text}}</h1>
      </div>
    </div>

    <div [ngClass]="{'lightboxCaptionMobile':mobile === true, 'lightboxCaptionLarge':mobile === false}">
      <div [innerHTML]="lightboxCaption"></div>
    </div>

    <div infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         [infiniteScrollDisabled]="manualScrollTriggered"
         (scrolled)="onScroll()" class="row" [hidden]="showAbout">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div lightbox-group class="row">
          <div *ngFor="let image of picsToShowInfScroll; let i=index" class="col-lg-4 col-md-6 col-sm-6 col-4">
            <div *ngIf="!mobile" class="d-none d-sm-block margin-picture-large">
              <a href="{{getUrlPostfixWhenClickingImage(i)}}">
                <img class="centered-image fixed-height-image" [src]="image.medium" lightbox [fullImage]="{path: image.src}"
                     (error)="fixMediumUrl(i)" />
              </a>
            </div>
            <div *ngIf="mobile" class="d-block d-sm-none margin-picture-small">
              <a href="{{getUrlPostfixWhenClickingImage(i)}}">
                <img class="centered-image fixed-height-image-xs" [src]="image.thumb" lightbox [fullImage]="{path: image.src}"
                     (error)="fixThumbUrl(i)" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>

    <div class="row" id="about" [hidden]="!showAbout">
      <div class="col-2"></div>
      <div class="alert alert-info col-8">
        <p>
          I photograph graffiti in the Netherlands, mainly in the areas of Amsterdam, Utrecht and Zwolle.
          Feel free to contact me on my <a href="https://instagram.com/dutchtoy">instagram</a> page.
        </p>
      </div>
      <div class="col-2"></div>
    </div>

    <div id="showMoreButton" class="row" [hidden]="!showManualLoadMoreButton || showAbout">
      <div class="col-sm-12 text-center">
        <button type="button" (click)="manualTriggerOnScroll()" class="btn btn-secondary">More...</button>
      </div>
    </div>

    <div id="descriptive-text" class="row" [hidden]="showAbout">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <h2>Dutch Graffiti</h2>
        <p>
          Graffiti came to the Netherlands in the late 70's and early 80's, inspired by graffiti writers from New York.
          The Dutch graffiti scene started to grow quickly in Amsterdam, with writers such as Shoe, Joker and Delta. Later
          it spread to the rest of Holland with an active graffiti scene in for example Rotterdam, Utrecht and Zwolle. Currently
          the Dutch graffiti scene is more alive than ever, influenced by social media such as Instagram where new graffiti
          pieces, tags and throwups from the Netherlands are posted all the time.
          Today there are many established Dutch writers and crews, such as Same, Defs, Fofs, Jake and Farao. Also new talent is
          inspired and encouraged to get foot on the ground in the Dutch graffiti scene.
          This site contains an impression of current graffiti in the Netherlands. All photos are shot by me. I mostly photograph
          graffiti on walls and along traintracks, but also occasionally on trains and subways.
        </p>
        <p id="nederlands">
          Graffiti is naar Nederland gekomen aan het eind van de jaren '70 en het begin van de jaren '80, onder invloed van graffiti
          schrijvers uit New York. De Nederlandse graffiti scene begon snel te groeien in Amsterdam, met schrijvers zoals Shoe, Joker
          en Delta. Later spreidde het zich uit over de rest van Nederland, met een actieve graffiti scene in plaatsen zoals Rotterdam,
          Utrecht en Zwolle. Vandaag de dag is graffiti in Nederland springlevend, mede veroorzaakt door sociale media zoals Instagram
          waar nieuwe pieces, tags en throwups uit Nederland veelvuldig worden gepost.
          Er zijn momenteel veel grote Nederlandse graffiti schrijvers en crews actief, zoals Same, Defs, Fofs, Jake en Farao. Ook is
          er veel nieuw talent.
          Deze site geeft een indruk van de huidige graffiti in Nederland. Alle foto's zijn gemaakt door mijzelf. Ik fotografeer
          voornamelijk graffiti op muren en naast treinsporen, maar ook af en toe op treinen en metro's.
        </p>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>

  <div class="footer row">
    <div class="col-sm-12 text-center">
      © Dutchtoy 2020
    </div>
  </div>
</div>
